/* Header */
body {
  margin : 0px;
}
body header{
  margin : 0px;
  padding : 35px;
  background-color : #03a9f4;

  display : grid;
  grid-template-columns : repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows : minmax(100px, auto);
  text-align : center;
}
body header .headerLeft{
  display: block;
  margin: 0 auto;
}
body header .headerRight{
  position: relative;
}
body header .headerRight img{
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body header h1{
  font-size : 44px;
  color : white;
  font-style : italic;
  font-family : "Lucida Console", "Courier New", monospace;
}
body header h3 strong{
  color : yellow;
}

/* Footer */
body footer{
  text-align : center;
  margin : 0px;
  padding : 5px;
  background-color : #03a9f4;
}
body footer h6{
  font-size : 18px;
  font-family : "Lucida Console", "Courier New", monospace;
  color : white;
}
body footer h6,p{
  margin : 10px;
}
body footer .githubLink, .githubLink a{
  color : yellow;
  font-size : 24px;
  font-weight: bold;
  font-family: system-ui;
}

body footer .aToTop{
  color : red;
  text-decoration:none;
  font-size : 18px;
  font-weight: 500;
  font-family: system-ui;
}
